.form-horizontal .form-group {
  margin-right: -15px;
  margin-left: -15px;
}

.btn-light {
  margin-right: 5px;
}

.user-message {
  margin: auto;
  width: 40%;
  border: 1px solid #4771fa;
  padding: 0.5rem;
  border-radius: 3px;
  background: #b9c9ff;
  text-align: center;
}

.user-message--error {
  border-color: red;
  background: rgb(255, 176, 176);
}
